.wrapper {
  display: flex;
}

.wrapper > .item {
  width: 50%;
}

.wrapper > .item > h2 {
  color: var(--white);
  font-size: var(--title-size);
  text-transform: uppercase;
}

.wrapper > .item > p {
  margin: 20px 0px;
}

.wrapper .item:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerCta {
  max-width: 320px;
}

@media screen and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    padding: 10px;
  }

  .wrapper > .item {
    width: 100%;
  }

.wrapper > .item > h2 {
  font-size: 24px;
}

  .containerCta {
    margin: 24px auto;
    width: 100%;
  }
}
