.posFooter {
  background: var(--black);
  padding: 10px 0px;
  border-top: 1px solid #f1f1f11f;
}

.posFooter .content p {
  color: #f1f1f11f;
}

@media screen and (max-width: 767px) {
  .posFooter {
    padding: 10px;
  }

  .posFooter .content p {
    font-size: 12px;
  }
}
